<div class="container mt-5">
    <div class="jumbotron text-center bg-light p-5 rounded shadow-sm">
        <h1 class="display-4">Historial Cardíaco</h1>
        <p class="lead">Aquí puede consultar el historial cardíaco completo realizadas para cada paciente.</p>
        <hr class="my-4">
        <p>La tabla a continuación muestra los datos cardíacos registrados, organizadas por fecha.</p>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <h2>Gráfico</h2>
        <div class="card shadow-sm">
            <div class="card-body">
                <app-heart-rate-chart class="chart-container"></app-heart-rate-chart>
            </div>
        </div>
    </div>
</div>