<div class="container mt-5">
    <div class="jumbotron text-center bg-light p-5 rounded shadow-sm">
        <h1 class="display-4">Sistema de Monitoreo Cardíaco</h1>
        <p class="lead">Monitoreo en tiempo real del ritmo cardíaco de sus pacientes.</p>
        <hr class="my-4">
        <p>Proporciona datos críticos para la detección temprana de anomalías cardíacas.</p>
    </div>

    <div class="row mt-5">
        <div class="col-md-6">
            <h2 class="mb-4">Información del Paciente</h2>
            <div class="card shadow-sm mb-4">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title mb-0">
                        <i class="fas fa-user mr-2"></i>{{paciente.nombre}} {{paciente.apellido}}
                    </h5>
                </div>
                <div class="card-body p-4">
                    <table class="table table-borderless table-striped">
                        <tbody>
                            <tr>
                                <th scope="row">Sexo</th>
                                <td>{{paciente.sexo}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Peso</th>
                                <td>{{paciente.peso}} kg</td>
                            </tr>
                            <tr>
                                <th scope="row">Enfermedades Crónicas</th>
                                <td>{{paciente.diagnostico.enfermedadCronica}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Consumo de Alcohol</th>
                                <td>{{paciente.diagnostico.alcohol}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Consumo de Tabaco</th>
                                <td>{{paciente.diagnostico.tabaco}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Consumo de Drogas</th>
                                <td>
                                    {{paciente.diagnostico.droga}}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Alimentación</th>
                                <td>{{paciente.diagnostico.alimentacion}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Hábitos</th>
                                <td>{{paciente.diagnostico.habitos}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="mb-4">Alertas de Salud</h2>
            <div class="alert alert-danger shadow-sm d-flex align-items-center" role="alert">
                <i class="fas fa-exclamation-triangle mr-2"></i>
                <span><strong>Alerta!</strong> Ritmo cardíaco irregular detectado.</span>
            </div>
            <div class="mt-4">
                <h2 class="mb-3">Observaciones</h2>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Escribir observación..."
                        [(ngModel)]="nuevaObservacion.observacion">
                    <button class="btn btn-outline-secondary" type="button" (click)="create()">Agregar</button>
                </div>
            </div>
            <button class="btn btn-success mt-3 custom-margin" type="button" (click)="getObservaciones()">
                <i class="fas fa-chart-line mr-2"></i>Ver Historial
            </button>
            <button class="btn btn-primary mt-3 custom-margin" (click)="toggleChart()">
                <i class="fas fa-chart-line mr-2"></i>Ver gráfico
            </button>

        </div>
    </div>

    <div class="row mt-5" *ngIf="showChart">
        <div class="col-md-12">
            <h2>Gráficos en Tiempo Real</h2>
            <div class="card shadow-sm">
                <div class="card-body">
                    <app-heart-rate-chart class="chart-container"></app-heart-rate-chart>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="historialModal" tabindex="-1" aria-labelledby="historialModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="historialModalLabel">Historial de Observaciones</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Observación</th>
                            <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let observacion of observaciones">
                            <td>{{observacion.observacion}}</td>
                            <td>{{observacion.fecha | date}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>