<div class="container mt-5">
    <div class="jumbotron text-center bg-light p-5 rounded">
        <h1 class="display-4">Sistema de Monitoreo Cardíaco</h1>
        <p class="lead">Monitoreo en tiempo real del ritmo cardíaco de sus pacientes.</p>
        <hr class="my-4">
        <p>Proporciona datos críticos para la detección temprana de anomalías cardíacas.</p>
    </div>

    <div class="row mt-5">
        <div class="col-md-6">
            <h2>Información del Paciente</h2>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Nombre: {{paciente.nombre}} {{paciente.apellido}}</h5>
                    <p class="card-text">Sexo: {{paciente.sexo}}</p>
                    <p class="card-text">Peso: {{paciente.peso}}</p>
                    <p class="card-text">Enfermedades Crónicas: {{paciente.diagnostico.enfermedadCronica}}</p>
                    <p class="card-text">Consumo de Alcohol : {{paciente.diagnostico.alcohol}}</p>
                    <p class="card-text">Consumo de Tabaco: {{paciente.diagnostico.tabaco}}</p>
                    <p class="card-text">Consumo de Drogas: {{paciente.diagnostico.droga}}</p>
                    <p class="card-text">Alimentación: {{paciente.diagnostico.alimentacion}}</p>
                    <p class="card-text">Hábitos: {{paciente.diagnostico.habitos}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Alertas de Salud</h2>
            <div class="alert alert-danger" role="alert">
                <strong>Alerta!</strong> Ritmo cardíaco irregular detectado.
            </div>
            <div class="alert alert-warning" role="alert">
                <strong>Precaución!</strong> Nivel de oxígeno bajo.
            </div>
            <button class="btn btn-primary mt-3" (click)="toggleChart()">Ver gráfico</button>
        </div>
    </div>

    <div class="row mt-5" *ngIf="showChart">
        <div class="col-md-12">
            <h2>Gráficos en Tiempo Real</h2>
            <div class="card">
                <div class="card-body">
                    <app-heart-rate-chart class="chart-container"></app-heart-rate-chart>
                </div>
            </div>
        </div>
    </div>
</div>